<div class = 'information'>
  <% record_information_attributes(campaign).each do |attribute| %>
    <%= content_tag :div,
                    class:'information__block',
                    'data-controller' => 'expand',
                    'data-expand-id' => "editor_#{attribute[:id]}",
                    'data-expand-inactive-text' => '+',
                    'data-expand-active-text' => '-' do %>
      <div class = 'd-flex justify-content-between'>
        <h5><%= attribute[:title] %></h5>
        <button class = 'btn btn-primary'
                data-action = "expand#expand"
                data-expand-target = 'expandButton'
        >
        </button>
      </div>

      <%= turbo_frame_tag(attribute[:name], 'data-expand-target' => 'expandValue') do %>
        <%= sanitize attribute[:text] %>

        <%= link_to 'Редактировать', edit_game_campaign_path(campaign) %>
      <% end %>

      <div data-expand-target = 'test'>
      </div>
      <% end %>
  <% end %>
</div>