<% if character.portrait.representable? %>
  <%= image_tag(character.portrait.representation(resize_to_limit: [480, 480])) %>
<% else %>
  <%= form_with model: character do |form| %>
    <div class='image_upload'>
      <label for='file_input'>
        <%= image_tag "blank_portrait.png", alt: "Download file" %>
      </label>

      <%= form.file_field :portrait, id: 'file_input' %>
    </div>

    <%= form.submit 'Сохранить' %>
  <% end %>
<% end %>