<turbo-frame id = 'new_character'>
  <h3>Новый персонаж мастера:</h3>
  <%= content_tag :div, data: { controller: 'masterCharacters' } do %>
    <%= form_with model: @master_character,
                  data: { action: 'turbo:submit-end->masterCharacters#reset', 'masterCharacters-target' => 'form' } do |form| %>
      <% new_chapter_fields.each_pair do |field_name, field_params| %>
        <%= form.label(field_params[:label], class: 'form-label') if field_params[:label].present? %>
        <div class = 'input-group'>
          <%= form.send(field_params[:input], field_name,
                        class: 'form-control',
                        id: field_params[:ckeditor_id])
          %>
        </div>
      <% end %>

      <%= form.submit 'Создать', class: 'btn btn-success' %>
    <% end %>
  <% end %>

  <%= link_to 'Отмена', :back %>
</turbo-frame>