<div class = 'col'> <h2><%= campaign.name %></h2></div>
<%= render partial: 'information', locals: { campaign: campaign} %>

<div class = 'col'> <h3>Сюжет</h3></div>
<%= render partial: 'plot', locals: { campaign: campaign} %>

<div class = 'col'><h3>Персонажи</h3></div>
<%= render partial: 'characters/characters_block',
           locals: {
             act: nil,
             campaign: campaign,
             master_characters: campaign.master_characters,
             enemies: campaign.enemies
           } %>

<div class = 'col'><h3>Игроки</h3></div>
<%= render partial: 'campaign_members/players_card_collection',
           locals: { campaign: campaign, players: campaign.campaign_members.where(role: 'player') } %>